@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@600;700;800&family=Roboto:wght@500;700&display=swap");

*{
  padding: 0;
  font-family: "Outfit";
  font-style: normal;
  box-sizing: border-box;
}

html,
body {
  background-color: #d3d0d0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 5rem;
  padding-top: 0;
}

.nav_links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav_links li {
  list-style: none;
}

.nav_links li a {
  text-decoration: none;
  color: black;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  padding-inline: 3rem;
  display: block;
  transition: color 0.5s;
}

.nav_links ul li .underline {
	height: 3px;
	background-color: transparent;
	width: 0%;
	transition: width 0.2s;
  margin: auto;
  padding-top: 3px;
}

.nav_links ul li:hover .underline {
	background-color: #5884a0;
	width: 30%;
}

.nav_links li:hover {
  opacity: 60%;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover 
.dropdown-content {
  display: block;
}

.hidden {
  visibility: hidden;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  visibility: visible;
  filter: blur(0);
  transform: translateX(0);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  max-width: 140px;
  box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  text-align: center;
}

.toggle-button {
  position: absolute;
  top: 4rem;
  right: 5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
}

.dropdown-content ul{
  flex-direction: column;
}

.dropdown-content li a{
  padding: 1rem;
}

.toggle-button .bar {
  height: 5px;
  width: 100%;
  background-color: white;
}

.header{
    font-size: clamp(0.3rem, 0.2rem + 10vw, 7rem);
    text-align: center;
    font-weight: 700;
    letter-spacing: 15px;
    margin: auto;
}

.details {
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 1rem;
}

.conatiner_gallery {
  position: relative;
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.conatiner_gallery1 {
    position: relative;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.conatiner_gallery .box {
  position: relative;
  width: 275px;
  height: 275px;
  overflow: hidden;
  transition: 0.5s;
}

.conatiner_gallery1 .box {
    position: relative;
    width: 400px;
    height: 500px;
    overflow: hidden;
    transition: 0.5s;
}

.conatiner_gallery .box:hover {
  z-index: 1;
  transform: scale(1.25);
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

.conatiner_gallery1 .box:hover {
    z-index: 1;
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
  }

.conatiner_gallery .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.conatiner_gallery1 .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.conatiner_gallery .box .imgBx:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(180deg, #f00, #000);
  mix-blend-mode: multiply;
  opacity: 0;
  transition: 0.5s;
}

.conatiner_gallery1 .box .imgBx:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg, #f00, #000);
    mix-blend-mode: multiply;
    opacity: 0;
    transition: 0.5s;
  }

.conatiner_gallery .box:hover .imgBx:before {
  opacity: 1;
}

.conatiner_gallery1 .box:hover .imgBx:before {
    opacity: 1;
}

.conatiner_gallery .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  
.conatiner_gallery .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  padding: 20px;
  align-items: flex-end;
}

.conatiner_gallery .box .content h2 {
  color: white;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 20px;
  transform: translateY(300px);
}

.conatiner_gallery .box:hover .content h2 {
  transform: translateY(20px);
  transition-delay: 0.5s;
}

.conatiner_gallery .box .content p {
  color: white;
  transition: 0.5s;
  transform: translateY(200px);
  font-size: 14px;
}

.conatiner_gallery .box:hover .content p {
  transform: translateY(20px);
  transition-delay: 0.7s;
}

.grid_footer {
    width: 90%;
    display: grid;
    bottom: 0;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding-inline: 5rem;
    padding-top: 5rem;
    padding-bottom: 2rem;
    text-decoration: none;
    margin-inline: auto;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    color: black;
    font-size: 14px;
    overflow-x: visible;
  }
  
  a:link {
    color: black;
  }
  
  a:visited {
    color: rgb(72, 65, 65);
  }
  
  a:hover {
    color: red;
  }
  
  a {
    text-decoration: none;
  }
  .first_footer {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    grid-column: 1 / span 2;
    padding-left: 10px;
  }
  
  .second_footer {
    grid-column: 1 / span 2;
    grid-row-start: 2;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    padding-left: 10px;
  }
  
  .third_footer {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 7;
  }
  
  .third_footer img {
    width: 100px;
  }
  .fourth_footer {
    grid-column: 3 / span 2;
    padding-left: 10px;
  }
  
  .fifth_footer {
    grid-column-start: 3;
    grid-row-start: 3;
    padding-left: 10px;
  }
  
  .sixth_footer {
    grid-row-start: 4;
    grid-column-start: 3;
    padding-left: 10px;
  }
  
  .eighth_footer {
    grid-column-start: 5;
    grid-row-start: 3;
    padding-left: 10px;
  }
  
  #bute {
    background: #1e1e1e;
    border-radius: 50px;
    grid-column-start: 7;
    grid-row: 4 / span 2;
    color: white;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 100;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    user-select: none;
  }
  
  .ninth_footer {
    grid-column-start: 5;
    grid-row-start: 4;
    padding-left: 10px;
  }
  
  .tenth_footer {
    grid-column-start: 5;
    grid-row-start: 5;
    padding-left: 10px;
  }
  
  .eleventh_footer {
    grid-column: 5 / span 2;
    padding-left: 10px;
  }
  
  .thirteenth_footer {
    grid-column: 5 / span 2;
    grid-row-start: 3;
    padding-left: 10px;
  }
  
  .fourteenth_footer {
    grid-column: 5 / span 2;
    grid-row-start: 4;
    padding-left: 10px;
  }
  
  .fifteenth_footer {
    grid-column: 5 / span 2;
    grid-row-start: 5;
    padding-left: 10px;
  }
  
  .seventeenth_footer {
    grid-column: 5 / span 2;
    grid-row-start: 6;
    padding-left: 10px;
  }
  
  .eighteenth_footer {
    font-size: 15px;
    grid-column: 7 / span 2;
    grid-row: 1 / span 2;
  }
  
  #input_1 {
    background: #1e1e1e;
    border-radius: 50px;
    overflow-y: hidden;
    width: 500px;
    height: 75px;
    display: none;
    justify-content: center;
    align-items: center;
    border: #1e1e1e;
    padding: 20px;
  }
  
  .quote_r{
    font-family: 'Noto Serif Oriya', serif;
    font-size: 1.5rem;
    width: 30%;
    float: right;
    margin-right: 10%;
    text-shadow: 4px 4px 6px rgba(66, 68, 90, 1);
  }

  .quote_l{
    font-family: 'Noto Serif Oriya', serif;
    font-size: 1.5rem;
    width: 30%;
    float: left;
    margin-left: 10%;
    text-shadow: 4px 4px 6px rgba(66, 68, 90, 1);
  }
  
  .q_o{
    font-size: 4rem;
    text-shadow: 4px 4px 6px rgba(66, 68, 90, 1);
  }
  .q_o1{
    font-size: 3rem;
    float:right;
    text-shadow: 4px 4px 6px rgba(66, 68, 90, 1);
  }
    
  #input_1::backdrop {
    background: linear-gradient(45deg, red, #669bbc);
    opacity: 20%;
  }
  
  #input_1_3 {
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
    color: white;
    font-size: 1.25em;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 100;
    border: #1e1e1e;
  }
  
  #input_1_3:focus {
    outline: none;
  }
  
  #sub {
    width: 200px;
    height: 70px;
    border-radius: 50px;
    background-color: black;
    color: white;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 100;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    user-select: none;
  }
  
  #input_1.open {
    animation: open 0.5s forwards;
  }
  @keyframes open {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.3);
    }
    70% {
      transform: scale(0.95);
    }
    95% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .res_footer {
    display: none;
  }

  #bute1 {
    width: 200px;
    height: 50px;
    background: #1e1e1e;
    border-radius: 50px;
    color: white;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 100;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    user-select: none;
  }
  @media only screen and (max-width: 948px) {
    .toggle-button {
      display: flex;
    }
  
    .nav_links {
      display: none;
      width: 100%;
      background-color: rgb(56, 51, 51);
    }
  
    .navBar {
      flex-direction: column;
      align-items: flex-start;
      background-color: rgb(36, 34, 34);
    }
  
    .nav_links ul {
      width: 100%;
      flex-direction: column;
    }
  
    .nav_links li {
      text-align: center;
    }
  
    .nav_links li a {
      padding: 1rem 1rem;
      color: white;
    }
  
    .nav_links.active {
      display: flex;
    }
  
    .header {
      flex-direction: row;
      margin: auto;
    }

    .dropdown-content {
      max-width: 100%;
      position: unset;
      background-color: rgb(36, 34, 34);
    }

    .dropdown-content ul{
      max-width: 100%;
      width: 100%;
    }
  }  
  @media only screen and (max-width: 1100px) {
    .grid_footer {
        display: none;
      }
  
      .res_footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        font-family: "outfit";
        font-style: normal;
        font-weight: 500;
        font-size: clamp(1rem, 0.5rem + 2vw, 2rem);
      }
  }